.stepwizard-step p {
    margin-top: 0px;
    color: #666;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    /*opacity: 1 !important;
                        filter: alpha(opacity=100) !important;*/
}

.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
    opacity: 1 !important;
    color: #bbb;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}


/*state overview*/

.state-overview .symbol, .state-overview .value {
    display: inline-block;
    text-align: center;
}

.state-overview .value {
    float: right;
}

    .state-overview .value h1, .state-overview .value p {
        margin: 0;
        padding: 0;
        /*   color: #c6cad6;*/
        color: #0932ff;
        font-size: 12px;
    }

    .state-overview .value h1 {
        font-weight: 300;
    }

.state-overview .symbol i {
    color: #fff;
    font-size: 50px;
}

.state-overview .symbol {
    width: 40%;
    padding: 25px 15px;
    -webkit-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px;
}

.state-overview .value {
    width: 58%;
    padding-top: 21px;
}

.state-overview .terques {
    background: #6ccac9;
}

.state-overview .red {
    background: #ff6c60;
}

.state-overview .yellow {
    background: #f8d347;
}

.state-overview .blue {
    background: #57c8f2;
}
/*personal task*/

.task-thumb {
    width: 90px;
    float: left;
    margin-bottom: 5px;
}

    .task-thumb img {
        border-radius: 4px;
        -webkit-border-radius: 4px;
    }

.task-thumb-details {
    display: inline-block;
    margin: 25px 0 0 10px;
}

.task-progress {
    float: left;
}

    .task-thumb-details h1, .task-thumb-details h1 a, .task-progress h1, .task-progress h1 a {
        color: #1c64f2;
        font-size: 18px;
        margin: 0;
        padding: 0;
        font-weight: 400;
    }

    .task-thumb-details p, .task-progress p {
        padding-top: 5px;
        color: #1c64f2;
    }


.personal-task tbody tr td {
    padding: 11px 15px;
    border-color: #eeeff1;
}

    .personal-task tbody tr td i {
        font-size: 20px;
        color: #c7cbd4;
    }

.personal-task.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #f7f8fc;
}

    .personal-task.table-hover > tbody > tr:hover > td i {
        color: #39b5aa;
    }

.personal-task > tbody > tr > td:last-child {
    text-align: right;
}

.task-option {
    float: right;
}

    .task-option select {
        height: 35px;
        border: 1px solid #eaeaea;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        padding: 8px;
        color: #a4abbb;
    }

.txtHover:hover {
    text-decoration: underline;
    cursor: pointer;
    padding: 3px;
    color: #79BD9A;
}


.DivBorder {
    border: 1px solid #c1c1c1;
}