
@{
    ViewData["Title"] = "Access Denied";
}
<div style="text-align:center">
    <br />
    <br />
    <img src="~/img/VisionEducation.png" />

    <br />  <br />
    <br />
    <h1 style="color:red; font-weight:bold;font-size:80px;">Access Denied!</h1>

    <h3>You do not have permission! Contact Administrator</h3>

</div>
