@{ ViewData["Title"] = "Collective Community : Staff";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <style>
        h5 {
            font-family: 'Myriad Pro';
            color: #454091; /*transform Label Color*/
            font-size: 19px
        }

        label {
            font-family: 'Myriad Pro';
            color: #454091; /*transform Label Color*/
            font-size: 14px
        }

        #mainHeading {
            display: inline-block;
            padding: 5px 10px; /* Adjust padding as needed */
            border: solid lightgray; /* Border style */
            border-radius: 5px; /* Rounded corners */
            background-color: #d4f1f9; /*Form Name top Main Heading Color*/
            color: #263272;
        }
    </style>

}
<div class="row">
    @*<img src="~/img/Optometrisit Inspection Factory.png" class="img-fluid" />*@
    <h2 id="mainHeading" class="control-label">Autorefraction</h2>
</div>
<div class="row">

    <div class="form-check" id="DivFormModes">
        <div class="col-lg-2">
            <label class="form-check-label"> Autorefraction </label>
        </div>
        <div class="col-lg-2">
            <input class="form-check-input readonly" type="checkbox" id="chkCompanies" />
            <label class="form-check-label" for="chkCompanies">Companies</label>

        </div>
        <div class="col-lg-2">
            <input class="form-check-input readonly" type="checkbox" id="chkGoth" />
            <label class="form-check-label" for="chkGoth">Goths</label>

        </div>
        <div class="col-lg-2">
            <input class="form-check-input readonly" type="checkbox" id="chkLocalities" />
            <label class="form-check-label" for="chkLocalities">Locality </label>

        </div>
        <div class="col-lg-4">
            <input class="form-check-input readonly" type="checkbox" id="chkPublicSpaces" />
            <label class="form-check-label" for="chkPublicSpaces">Public Spaces</label>

        </div>
    </div>
</div>

@section js {
    <script>


        $('#chkCompanies').on('change', function () {

            if ($('#chkCompanies').is(":checked")) {
                UncheckedOther('chkCompanies');
                window.location.assign(window.location.origin + "/Factory/AutoRefTestWorker/Add/0");
            }
        })
        $('#chkGoth').on('change', function () {

            if ($('#chkGoth').is(":checked")) {
                UncheckedOther('chkGoth');
                window.location.assign(window.location.origin + "/Goths/GothAutoRefTestResident/Add/0");
            }
        })
        $('#chkLocalities').on('change', function () {

            if ($('#chkLocalities').is(":checked")) {
                UncheckedOther('chkLocalities');
                window.location.assign(window.location.origin + "/Localities/AutoRefTestResident/Add/0");
            }
        })
        $('#chkPublicSpaces').on('change', function () {

            if ($('#chkPublicSpaces').is(":checked")) {
                UncheckedOther('chkPublicSpaces');
                window.location.assign(window.location.origin + "/PublicSpaces/PublicSpacesAutoRefTestResident/Add/0");
            }
        })
    </script>
}
