@*@model List<HMIS.Areas.Admin.Models.MenuModel>*@
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<DocType html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    @*<title>@ViewData["Title"]</title>*@

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/style-responsive.css" rel="stylesheet">
    <link href="~/lib/mdif/mdif.min.css" rel="stylesheet">
    <link href="~/lib/mdif/mdifc.min.css" rel="stylesheet">
    <link href="~/lib/jquery-confirm/jquery-confirm.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/advanced-datatable/css/demo_page.css" />
    <link rel="stylesheet" href="~/lib/advanced-datatable/css/demo_table.css" />
    <link rel="stylesheet" href="~/lib/advanced-datatable/css/DT_bootstrap.css" />
    <link href="~/lib/jquery-ui.css" rel="stylesheet" />
    <link href="~/lib/select2/select2.min.css" rel="stylesheet" />
    <link href="~/lib/jQuery-filer/css/jquery.filer.css" rel='stylesheet' type='text/css'>
    <link href="~/lib/jQuery-filer/css/themes/jquery.filer-dragdropbox-theme.css" rel='stylesheet' type='text/css'>
    <link href="~/css/DatePick/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/css/DatePick/Layout.css" rel="stylesheet" />
    @RenderSection("css", required: false)
<style>
   

    

        
</style>

</head>
 
<body>
    <div class="form-panel" id="Header">
        <header >   
                    <div class="row">
                        <div class="col-md-9">
                            <h1 id="TitleHeading" class="control-label">VISION FOR EDUCATION FOUNDATION</h1>
                            @*<img src="~/img/VisionEducation.png" alt="Organization Header"  />*@
                        </div>
                    <div class="col-md-3" id="DivLogo">
                        @*<img id="EyeBankLogo" src="~/img/VisionEducation.png" alt="Organization Header" class="img-fluid"  />*@
                    </div>            
                    </div>
               
            
        </header>

        <div class="container" id="BodyDiv">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        @*<div class="container">
                &copy; 2023 - TransportManagementCore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>*@
    </footer>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="~/lib/jquery/jquery.min.js"></script>

    <script src="~/lib/JqueryUi/jquery-ui.min.js"></script>
    @*<script src="~/lib/jquery-ui-1.9.2.custom.min.js"></script>*@
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery.ui.touch-punch.min.js"></script>
    <script class="include" type="text/javascript" src="~/lib/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/lib/jquery.scrollTo.min.js"></script>
    <script src="~/lib/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="~/lib/jquery-confirm/jquery-confirm.min.js"></script>
    <script type="text/javascript" language="javascript" src="~/lib/datatables/datatables.min.js"></script>
    <script type="text/javascript" src="~/lib/datatables/dataTables.fixedColumns.min.js"></script>
    <script type="text/javascript" src="~/lib/advanced-datatable/js/DT_bootstrap.js"></script>

    <script src="~/lib/select2/select2.full.min.js"></script>
    <script src="~/lib/select2/select2.min.js"></script>
    <script src="~/lib/select2/select2-dropdownPosition.js"></script>
    @*<script type="text/javascript" src="~/lib/select2/select2.min.js"></script>
        <script type="text/javascript" src="~/lib/select2/select2-dropdownPosition.js"></script>*@
    <script type="text/javascript" src="~/lib/moment/moment.min.js"></script>
    <script type="text/javascript" src="~/lib/jQuery-filer/js/jquery.filer.min.js"></script>

    <script type="text/javascript" src="~/lib/datatables/mark.min.js"></script>

    <script src="~/lib/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/bootstrap-datepicker.en-GB.min.js"></script>
    <!--common script for all pages-->

    <script src="~/lib/common-scripts.js"></script>
    <script type="text/javascript" src="~/Scripts/Common/common.js"></script>
    <script src="~/js/Areas/Common/Validation.js"></script>
    @RenderSection("js", required: false)
</body>
</html>
